{% extends "base.html" %} {% load static %} {% block content %}

<style>
  @media only screen and (max-width: 2000px) {


  #varient {
    display: inline-block;
    min-width: 200px;
    min-height: 60px;
    background-color: white;
    border-left:solid 5px gray ;
  }


  [type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* IMAGE STYLES */
  [type="radio"] + #varient {
    cursor: pointer;
  }
  /* CHECKED STYLES */
  [type="radio"]:checked + #varient {
    border-left: 15px solid #28a745;
  }
  .varient_name_label {
    display: block;
    font-size: 13px;
    margin-top: 2px;
    color: #00dba0;
    text-align: center;
    border-bottom: #00dba0 solid 2px;
  }
  /*tooltip css*/
}


</style>

<div >


  <form method="POST" class="text-center" action="{% url 'main:add_item' %}">
    <div class="row m-5">

      {% csrf_token %}
  
      {% for varient_name in product.varientname_set.all %}
      <div class="bg-light w-100 py-3 my-2">
        <h5 class="mx-3 text-bold text-uppercase varient_name d-block">{{varient_name.name}} :</h5>
        {% for var in varient_name.varient_set.all%}
            {% if var.quantity < 1 %}
              <div class="form-check form-check-inline">
                <label>
          
                  <input
                    type="radio"
                    name="varient_{{forloop.parentloop.counter}}"
                    value="{{varients.name}} : {{ var.name }}"
                    required
                    disabled
                  />
                  
                <div class="bg-warning" id="varient">
                  <p class="ml-2 text-primary text-left"><s>{{var.name}}</s></p>
                  <h5 class="text-danger">OUT OF STOCK</h5>
                </div>
                
                {% else %}
                <div class="form-check form-check-inline">
                  <label>
                    <input
                    type="radio"
                    name="varient_{{forloop.parentloop.counter}}"
                    value="{{ var.id }}"
                    required
                    
                    />
                    
                    
                    <div class="" id="varient">
                       <p class="ml-2 text-primary text-left">{{var.name}}</p>
                       <h5 class="text-left ml-2" style="padding: 2px; border-radius: 10px; ;">{{var.quantity}} Item</h5>
                  </div>
              {% endif %}
            </label>
          </div>
        {% endfor %}
      </div>
       {% endfor %}
    </div>
    <input type="hidden" name="product_id" value="{{ product.id }}" />
    <button class="btn btn-danger">ADD TO BILL</button>
  </form>
</div>
{% endblock %}
